<!-- 
  Creagte a Form with
  1. Projet Name (should not be empty)
  2. Mail (should not be empty)
  3. Project status dropdown with 3 values: stable, critical, finished
  4. submit button

  add your own validator which doesn't allow test as a project name
  also implement that validator as an async validator (replace the other one)
  upon submitting the form, simply print the value to the console

 -->

<div class="main">
  <form (ngSubmit)="onSubmit()" #form [formGroup]="myForm">
    <!-- projecgt name -->
    <div class="form-group">
      <label for="name">Project Name</label>
      <input type="text" name="name" id="name" formControlName="name">
      <p *ngIf="nameInput.errors!=null && nameInput.errors['isNameTest']">This name is already taken</p>
      <p *ngIf="nameInput.touched && nameInput.errors!=null && nameInput.errors['required']">Plese fill in this field</p>
      <p *ngIf="nameInput.touched && nameInput.errors!=null && nameInput.errors['isTooShort']">Your name must be at least 4 characters long</p>
    </div>

    <!-- Mail -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" formControlName="email">
      <p *ngIf="myForm.get('email').errors!=null && myForm.get('email').errors['required'] && myForm.get('email').touched">Please insert a valid email</p>
    </div>

    <!-- dropdown -->
    <div class="form-group">
      <label for="status">Project Status</label>
      <select name="status" id="status" formControlName="status">
        <option value="Stable">Stable</option>
        <option value="Critical">Critical</option>
        <option value="Finished">Finished</option>
      </select>
    </div>


    <button type="submit">Submit</button>
  </form>

  <div *ngIf="submitted">
    <h4><strong>Your selection</strong></h4>
    <p>Project Name: {{project.name}}</p>
    <p>Email: {{ project.email }}</p>
    <p>Project Status: {{ project.status }}</p>
  </div>
</div>